@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* mobile S */
@media (min-width: 0px) and (max-width: 320px) {
  .font-highlight {
    font-size: 30px;
  }
}

/* mobile M */
@media (min-width: 320px) and (max-width: 375px) {
  .font-highlight {
    font-size: 30px;
  }
}

/* mobile L */
@media (min-width: 375px) and (max-width: 425px) {
  .font-highlight {
    font-size: 30px;
  }
}

/* tablet or above */
@media (min-width: 425px) {
  .font-highlight {
    font-size: 36px;
  }
}
