@media (min-width: 0px) and (max-width: 320px) {
  .mainText {
    text-align: start;
    padding: 0 10px;
  }
  .banner {
    height: 221px;
  }
  .banner > img {
    height: 131px;
  }
}

@media (min-width: 320px) and (max-width: 375px) {
  .mainText {
    text-align: start;
    padding: 0 20px;
  }
  .banner {
    height: 221px;
  }
  .banner > img {
    height: 131px;
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  .mainText {
    text-align: start;
    padding: 0 40px;
  }
  .banner {
    height: 221px;
  }
  .banner > img {
    height: 131px;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .mainText {
    text-align: start;
    padding: 0 40px;
  }
  .font-highlight {
    font-size: 36px;
  }
  .banner {
    height: 242px;
  }
  .banner > img {
    height: 131px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .mainText {
    text-align: start;
    padding: 0 60px;
  }
  .font-highlight {
    font-size: 36px;
  }
  .banner {
    height: 350px;
  }
  .banner > img {
    height: 133px;
  }
}

@media (min-width: 1024px) {
  .mainText {
    text-align: start;
    padding: 0 70px;
  }
  .font-highlight {
    font-size: 36px;
  }
  .banner {
    height: 350px;
  }
  .banner > img {
    height: 280px;
  }
}

.thirdPartyContainer {
  margin: 5em auto;
  overflow: hidden;
  position: relative;
}

.thirdPartyContainer img {
  width: 100%;
  height: 100%;
  margin-bottom: -5px;
  transition: all 0.3s ease-out;
  position: relative;
  /* z-index: 2; */
}

.thirdPartyContainer:hover img {
  transform: scale(1.2, 1.2);
  /* z-index: 3; */
}
