@media (min-width: 0px) and (max-width: 320px) {
  .mainText {
    text-align: start;
    padding-left: 10px;
    padding-right: 10px;
  }
  .banner {
    height: 221px;
  }
}

@media (min-width: 320px) and (max-width: 375px) {
  .mainText {
    text-align: start;
    padding-left: 20px;
    padding-right: 20px;
  }
  .banner {
    height: 221px;
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  .mainText {
    text-align: start;
    padding-left: 40px;
    padding-right: 40px;
  }
  .banner {
    height: 221px;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .font-highlight {
    font-size: 36px;
  }
  .banner {
    height: 242px;
  }
}

@media (min-width: 768px) {
  .font-highlight {
    font-size: 36px;
  }
  .banner {
    height: 250px;
  }
}
